body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    font-size: 2.5em;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
}

#vis {
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#yearSlider {
    width: 80%;
    margin: 20px;
    transition: all 0.3s ease;
}

#yearSlider:hover {
    cursor: pointer;
    opacity: 0.8;
}